<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title id='title'>
            coffeescript-tests
        </title>
        
        <!-- CSS -->
        
        <!-- Specific CSS -->
        
        <!-- Javascript -->
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/main.js"></script>
    </head>
    <body>
        <h1>coffeescript-tests</h1>
        <p id="emptyp"></p>
        <p>
            This <a href="javascript:void(0);" id="hitlink">link</a> has been hit <span id="hitcount">0</span> times !
        </p>
        <p>
            Hit <a href="javascript:void(0);" id='postlink'>this</a> to post ! <span id='postresult'></span>
            <span id="cmpresult"></span> 
        </p>
    </body>
</html>
